	  <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
	    <div class="container">
	      <div class="navbar-brand active" style="max-width:400px"> <%= title%></div>
    
	      <div class="nav-collapse collapse bs-navbar-collapse">
	        <ul class="nav navbar-nav">
        
	          <li>
	            <a href="../logout">Logout <%= title%>?</a>
	          </li>
        
	        </ul>
	      </div>
	    </div>
	  </div>
	 
	  <div class="container">
		  <h1>
		 You are logged in as <%= title%>
		  </h1>
		  <form method="post" action="/client/" class="form-inline form-signin">
			   <h4>Add New Client</h4>
		    <input type="text" id="txtRedirectURI" name="redirecturi" class="form-control width370" placeholder="Redirect URI" />
		 
		    <button type="submit" class="btn btn-primary">Save</button>
		  </form>
		  
	             <h4>Clients</h4>
				  <div class="bg-white">
					 
				  <table class="table table-hover">
				          <thead>
				            <tr>
				              <th>Name</th>
				              <th>Location</th>
				              <th>Likes</th>
				              <th>Unlikes</th>
				              <th>Total</th>
				              <th>Average</th>
				              <th>RGB</th>
				              <th>Hex</th>
							  <th></th>
							  <th></th>
				            </tr>
				          </thead>
				          <tbody>
							  <% restaurants.forEach(function(restaurant){ %>
								  <tr>
									  <td><%=restaurant.name%></td>
									  <td><%=restaurant.location%></td>
									  <td><%=restaurant.likes%></td>
									  <td><%=restaurant.unlikes%></td>
									  <td><%=restaurant.total%></td>
									  <td><%=restaurant.avg%></td>
									  <td><%=restaurant.rgb%></td>
									  <td style="background:<%=restaurant.hex%>;"><%=restaurant.hex%></td>
									  <td>
									  	<a href="/restaurants/<%=restaurant._id%>/addfeedback/true">
									  		<img src="/like.png" />
									  		Liked it :-)
									  	</a>
									  </td>
									  <td>
									  	<a href="/restaurants/<%=restaurant._id%>/addfeedback/false">
									  		<img src="/dislike.png" />
									  		Disliked it :-(
									  	</a>
									  </td>
								  </tr>
							   <% }) %>
				           
				          </tbody>
				        </table>
					</div>
	              <footer class="footer">
	                 
	              </footer>
                
	      </div> <!-- /container -->